nodeRed.json
[
    {
        "id": "127590d25e7608d7",
        "type": "mqtt in",
        "z": "d41132559b5a3c58",
        "name": "",
        "topic": "canal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1170d19abc95018e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "6192f2db9f29badd",
                "d4509d190be63574",
                "d690c4a81b0b4593",
                "359857e091fc029d",
                "b9af4d892e6b9c22",
                "692120a34030eb88"
            ]
        ]
    },
    {
        "id": "06c810021505a848",
        "type": "debug",
        "z": "d41132559b5a3c58",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "6192f2db9f29badd",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor 1",
        "func": "msg.payload=msg.payload.split(\",\")\nmsg.payload=msg.payload[0]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_n SET status = '\" + msg.payload + \"' WHERE ID = 'N1';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "06c810021505a848",
                "7e1273cf18b0adf6"
            ]
        ]
    },
    {
        "id": "d4509d190be63574",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor 2",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[1]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_n SET status = '\" + msg.payload + \"' WHERE ID = 'N2';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "06c810021505a848",
                "fc0b708f8effa42a"
            ]
        ]
    },
    {
        "id": "d690c4a81b0b4593",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor 3",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[2]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_n SET status = '\" + msg.payload + \"' WHERE ID = 'N3';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "06c810021505a848",
                "19f75474c936f40c"
            ]
        ]
    },
    {
        "id": "359857e091fc029d",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor 4",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[3]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_n SET status = '\" + msg.payload + \"' WHERE ID = 'N4';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "06c810021505a848",
                "ccbb7c9197a8146f"
            ]
        ]
    },
    {
        "id": "b9af4d892e6b9c22",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor 5",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[4]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_n SET status = '\" + msg.payload + \"' WHERE ID = 'N5';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "06c810021505a848",
                "044b2ab00687b868"
            ]
        ]
    },
    {
        "id": "7efa4955d4cb6084",
        "type": "mysql",
        "z": "d41132559b5a3c58",
        "mydb": "8f41de037cc427ad",
        "name": "",
        "x": 900,
        "y": 1000,
        "wires": [
            [
                "872c45642429a653"
            ]
        ]
    },
    {
        "id": "745a6caf4ab35021",
        "type": "mqtt in",
        "z": "d41132559b5a3c58",
        "name": "",
        "topic": "canal2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1170d19abc95018e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "5aca890fc63b38d7",
                "7107a6805b11ee3c",
                "b604de1b99b04e63",
                "ab0ac6b91945ee5c",
                "ac481e0b05c5c45a",
                "833e85d8704bf77d"
            ]
        ]
    },
    {
        "id": "5aca890fc63b38d7",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor S1",
        "func": "msg.payload=msg.payload.split(\",\")\nmsg.payload=msg.payload[0]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_s SET status = '\" + msg.payload + \"' WHERE ID = 'S1';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "06c810021505a848",
                "28ee351a797eccfc"
            ]
        ]
    },
    {
        "id": "7107a6805b11ee3c",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor S2",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[1]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_s SET status = '\" + msg.payload + \"' WHERE ID = 'S2';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 660,
        "wires": [
            [
                "06c810021505a848",
                "028e7ec606e06d14"
            ]
        ]
    },
    {
        "id": "b604de1b99b04e63",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor S3",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[2]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_s SET status = '\" + msg.payload + \"' WHERE ID = 'S3';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "42465440e9fe8a38",
                "06c810021505a848"
            ]
        ]
    },
    {
        "id": "ab0ac6b91945ee5c",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor S4",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[3]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_s SET status = '\" + msg.payload + \"' WHERE ID = 'S4';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 780,
        "wires": [
            [
                "1d113bd8401344df",
                "06c810021505a848"
            ]
        ]
    },
    {
        "id": "ac481e0b05c5c45a",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor S5",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[4]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_s SET status = '\" + msg.payload + \"' WHERE ID = 'S5';\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 840,
        "wires": [
            [
                "c751dae2f7f2bcb6",
                "06c810021505a848"
            ]
        ]
    },
    {
        "id": "833e85d8704bf77d",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor S6",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[5]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_s SET status = '\" + msg.payload + \"' WHERE ID = 'S6';\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 900,
        "wires": [
            [
                "8e0034ade2bb4968",
                "06c810021505a848"
            ]
        ]
    },
    {
        "id": "692120a34030eb88",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "Sensor 6",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[5]\n\nif (msg.payload == '0')\n    msg.payload = 'Libre'\nelse\n    msg.payload = 'Ocupado'\n\nmsg.topic = \"UPDATE estacionamiento_n SET status = '\" + msg.payload + \"' WHERE ID = 'N6';\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 480,
        "wires": [
            [
                "06c810021505a848",
                "6c35fd66329e2012"
            ]
        ]
    },
    {
        "id": "d98a11573db74aff",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "function 1",
        "func": "msg.topic = \"SELECT `ID`, `Nombre` FROM `Usuarios` WHERE ID = '\" + msg.payload + \"';\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "7efa4955d4cb6084"
            ]
        ]
    },
    {
        "id": "57e38c050fdfd7a2",
        "type": "mqtt in",
        "z": "d41132559b5a3c58",
        "name": "",
        "topic": "canal3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1170d19abc95018e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "d98a11573db74aff"
            ]
        ]
    },
    {
        "id": "600f65c3e54db9f8",
        "type": "debug",
        "z": "d41132559b5a3c58",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1080,
        "wires": []
    },
    {
        "id": "872c45642429a653",
        "type": "function",
        "z": "d41132559b5a3c58",
        "name": "function 2",
        "func": "msg.payload = msg.payload[0]\nif (msg.payload){\n    msg.payload = 1\n}\nelse {\n    msg.payload = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1000,
        "wires": [
            [
                "324f47c50861a30e",
                "600f65c3e54db9f8"
            ]
        ]
    },
    {
        "id": "324f47c50861a30e",
        "type": "mqtt out",
        "z": "d41132559b5a3c58",
        "name": "",
        "topic": "canal4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1170d19abc95018e",
        "x": 1350,
        "y": 1000,
        "wires": []
    },
    {
        "id": "449982221aab21c4",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1140,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "03958787c6d0f30e",
        "type": "inject",
        "z": "d41132559b5a3c58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Libre",
        "payloadType": "str",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "449982221aab21c4"
            ]
        ]
    },
    {
        "id": "7e1273cf18b0adf6",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fc0b708f8effa42a",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "19f75474c936f40c",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N3",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ccbb7c9197a8146f",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N4",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "044b2ab00687b868",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N5",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "6c35fd66329e2012",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Norte/N6",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "28ee351a797eccfc",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Sur/S1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1210,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "028e7ec606e06d14",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Sur/S2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1210,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "42465440e9fe8a38",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Sur/S3",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1210,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1d113bd8401344df",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Sur/S4",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1210,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "c751dae2f7f2bcb6",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Sur/S5",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1210,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0034ade2bb4968",
        "type": "firebase modify",
        "z": "d41132559b5a3c58",
        "name": "",
        "firebaseconfig": "",
        "childpath": "/Estacionamiento/Sur/S6",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1210,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1170d19abc95018e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.31.5.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8f41de037cc427ad",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "pony_parking",
        "tz": "",
        "charset": "UTF8"
    }
]