Suscriber_example.json
[
    {
        "id": "4bad4b24031f0ba8",
        "type": "mqtt in",
        "z": "f613fcf1d97aa016",
        "name": "",
        "topic": "canal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1170d19abc95018e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "8acccb1d58b53b5d"
            ]
        ]
    },
    {
        "id": "8acccb1d58b53b5d",
        "type": "debug",
        "z": "f613fcf1d97aa016",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "69f4648ab9480cb4",
        "type": "mqtt out",
        "z": "f613fcf1d97aa016",
        "name": "",
        "topic": "canal",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1170d19abc95018e",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "18ccae72ad60b767",
        "type": "inject",
        "z": "f613fcf1d97aa016",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "canal",
        "payload": "Hola Mundo",
        "payloadType": "str",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "69f4648ab9480cb4"
            ]
        ]
    },
    {
        "id": "1170d19abc95018e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]